<!-- Здесь карта справа как раз станет (возможно ты так и задумывал) -->
<section class="footer-area" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-3 col-xs-12 col-lg-4">
                <div class="single-footer">
                    <h2>О нас</h2>
                    <p>Предприятие Авто ВАГ занимается автомобильными грузоперевозками в течении 20 лет, имеет постоянную клиентскую базу, занимается доставкой грузов по Казахстану и странам СНГ.</p>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-12 col-lg-2">
                <div class="single-footer">
                    <h2>Ссылки</h2>
                    <ul class="list">
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Тарифы</a></li>
                        <li><a href="#">Услуги</a></li>
                        <li><a href="#">Документы</a></li>
                        <li><a href="#">Войти</a></li>
                        <li><a href="#">Регистрация</a></li>
                    </ul>
                </div>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18367.004951201932!2d69.10910010337822!3d54.869995128273935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43b23bf7824b0085%3A0xbfedaefd7d43d97b!2z0JTQvtGB0YLRi9C6INC80L7Qu9C7!5e0!3m2!1sru!2skz!4v1616121360215!5m2!1sru!2skz"
                width="550" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</section>

<div class="copyright-area">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-md-6 text-left">
            <div class="footer-text">
                <p>Copyright 2021</p>
            </div>
        </div>
        <div class="col-xs-12  col-sm-6 col-md-6 text-right">
            <div class="footer-text">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-google-plus"></a>
                <a href="#" class="fa fa-dribbble"></a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/jquery.sticky.js"></script>
<script src="/public/js/jquery.meanmenu.js"></script>
<script src="/public/js/owl.carousel.min.js"></script>
<script src="/public/js/jquery.mb.YTPlayer.min.js"></script>
<script src="/public/js/slick.min.js"></script>
<script src="/public/js/jquery.nav.js"></script>
<script src="/public/js/waypoints.min.js"></script>
<script src="/public/js/jquery.counterup.min.js"></script>
<script src="/public/js/main.js"></script>