<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fast Delivery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/public/fonts/stylesheet.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.15.6/sweetalert2.min.css">
    <!-- Иконочный шрифт -->
    <link rel="stylesheet" href="/public/fonts/fonts.css">
    <link href="/public/css/reset.css" rel="stylesheet">
    <link href="/public/css/slick.css" rel="stylesheet">
    <link href="/public/css/owl.carousel.css" rel="stylesheet">
    <link href="/public/css/jquery.mb.YTPlayer.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/meanmenu.css">
    <link href="/public/css/style.css" rel="stylesheet">
    <link href="/public/css/responsive.css" rel="stylesheet">
    <style>
        .swal2-popup {
            font-size: 1.6rem !important;
        }

        .text {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    </style>
</head>