<div id="preloader"></div>
        <!-- Что то вроде доп панели над header`ом с эл почтой номером и тд-->
        <!-- НУ или по другому пихнуть, если вид будет портить) -->
        <div class="header">
            <div class="header__top">
                <div class="container">
                    <div class="header__contacts">
                        <a class="header__phone" href="tel:380963092145">+38 (096) 309 21 45</a>
                        <a class="header__email" href="#">layout585@gmail.com</a>

                    </div>
                </div>
            </div>
        </div>

        <%- include('logo_menu') %>