<!DOCTYPE html>
<html lang="en">

<%- include('includes/header') %>

    <body class="js">

        <div id="preloader"></div>

        <section class="about-us">
            <%- include('includes/logo_menu') %>
        </section>

        <section class="about_us_area" id="about">
            <div class="container">
                <div class="row page-title">
                    <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                        <div class="about_us_content_title">
                            <h2>О нас</h2>
                            <h5>Узнайте больше</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="about_us_content">
                            <p style="font-size: 30px;">Предприятие Авто ВАГ занимается автомобильными грузоперевозками в течении 20 лет, имеет постоянную клиентскую базу, занимается доставкой грузов по Казахстану и странам СНГ.</p>
                        </div>
                    </div>
                    <div class="col-md-offset-1 col-sm-6 col-md-5">
                        <div class="about_car">
                            <img src="/public/img/fura.jpg" alt=" car ">
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!--start about bottom area-->
        <section class="about-us-bottom-area ">
            <div class="container ">
                <div class="row ">
                    <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 ">
                        <div class="single-about-us-bottom ">
                            <h4>ЧТО МЫ ДЕЛАЕМ</h4>
                            <p>Выбрать надёжную транспортную компанию для перевозки груза так же сложно, как и найти надёжного бизнес-партнера. Вы можете отправлять грузы во все области Казахстана и страны ближнего зарубежья: Беларусь, Россию, Киргизию.
                                Помимо перевозки грузов, вы можете воспользоваться широким спектром логистических услуг: упаковка, страхование, хранение груза с оформлением всей необходимой документации и прочими услугами.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 ">
                        <div class="single-about-us-bottom ">
                            <h4>НАША ИСТОРИЯ</h4>
                            <p>Наше предприятие занимается грузоперевозками очень продолжительное время. За все годы нашей работы было доставлено огромное количество раличных грузов, выработана постоянная клиентская база. </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 ">
                        <div class="single-about-us-bottom ">
                            <h4>НАША МИССИЯ</h4>
                            <p>Мы профессиональны, дружелюбны и всегда ставим клиента в первую очередь. Наш ассортимент соответствует пожеланиям наших клиентов, предлагая именно то, что им требуется. Мы знаем наш бизнес. Мы сочетаем международное мышление
                                с глубоким знанием местных рынков. Это наша сила и позволяет нам предоставлять лучшее качество и сервис. Это означает, что мы можем внести решающий вклад в профессиональный успех и конкурентоспособность наших клиентов.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--    start client say area-->

        <section class="client-area " id="blog ">
            <div class="container ">
                <div class="row ">
                    <div class="col-md-5 col-xs-12 col-sm-8 ">
                        <div class="slients-title ">
                            <h2>Что говорят о нас клиенты?</h2>
                            <p>Самые актуальные отзывы от наших клиентов
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                        <div class="single-clients ">
                            <div class="client-img ">
                                <img src="/public/img/icon-user 1 .png " alt="client ">
                            </div>
                            <div class="client-details ">
                                <p>Отличный сервис!</p>
                                <h4>Никита<span>Менеджер</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                        <div class="single-clients ">
                            <div class="client-img ">
                                <img src="/public/img/icon-user 1 .png" alt="client ">
                            </div>
                            <div class="client-details ">
                                <p>Спасибо за качественную доставку.</p>
                                <h4>Александр<span>Предприниматель</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!--start footer area-->
        <%- include('includes/footer') %>
    </body>

</html>