<!DOCTYPE html>
<html lang="en">

<%- include('includes/header') %>

    <body class="js">
        <div id="preloader"></div>
        <section class="about-us">
            <%- include('includes/logo_menu') %>
        </section>

        <section class="contact-page-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                        <div class="about_us_content_title">
                            <h2>Наши документы</h2>
                        </div>
                        <h5 style="margin-bottom: 40px; font-size: 20px;">В данном разделе собраны примеры документов, которые необходимы при осуществлении грузоперевозки.</h5>
                    </div>
                </div>
                <img src="/public/img/documents 1.jpg" alt="" style="float: left; width: 500px; height: 274px; margin-bottom: 20px;">
                <div class="row">
                    <div class="col-md-12">
                        <li>
                            <a href="#">Лицензия на перевозку</a>
                        </li>
                        <li>
                            <a href="#">Пример договора</a>
                        </li>
                        <li>
                            <a href="#">Пример транспортной накладной</a>
                        </li>
                    </div>
                    <div class="col-md-5 col-md-offset-1 col-sm-6">
                        <div class="google-map">
                            <div id="googleMap"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <%- include('includes/footer') %>
    </body>

</html>