<!DOCTYPE html>
<html lang="en">

    <%- include('includes/header') %>

<body class="js">
    <div id="preloader"></div>
    <section class="about-us">
        <%- include('includes/logo_menu') %>
    </section>


    <section class="contact-page-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                    <div class="about_us_content_title">
                        <h2>Авторизация</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="contact-form">
                        <form method="POST">
                            <input type="text" name="login" placeholder="Ваш логин">
                            <input type="password" name="password" placeholder="Пароль">
                            <input type="submit" value="Войти">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <%- include('includes/footer') %>
</body>

</html>