<!DOCTYPE html>
<html lang="en">

<%- include('includes/header') %>

    <body class="js">

        <div id="preloader"></div>

        <section class="about-us">
            <%- include('includes/logo_menu') %>
        </section>

        <section class="pricing-area version-6" id="pricing">
            <div class="container">
                <div class="row page-title">
                    <div class="col-md-5 col-sm-6">
                        <div class="pricing-desc section-padding-two">
                            <div class="pricing-desc-title">
                                <div class="title">
                                    <h2>Тарифы и правила</h2>
                                    <p>На данной страницы кратко описаны правила расчета стоимости</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 text-center">
                        <div class="single-pricing-table">
                            <div class="pricing-title">
                                <h6>Тарифы на грузоперевозку</h6>
                                <h5>Авто ВАГ</h5>
                            </div>
                            <ul class=price-list>
                                <li>Расчет ведется по расстоянию</li>
                                <li>Стоимость 1 км - 300тг</li>
                                <li>Габариты используются для определения габаритности груза</li>
                                <li>Дополнительные услуги считаются совместно с основной стоимостью</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 text-center">
                        <div class="single-pricing-table">
                            <div class="pricing-title">
                                <h6>Тарифы на дополнительные услуги</h6>
                                <h5>Авто ВАГ</h5>
                            </div>
                            <ul class=price-list>
                                <li>Выбор тербования к транспорту</li>
                                <li>Страховка расчитывается от стоимости груза</li>
                                <li>Защитная упаковка зависит от габаритов груза</li>
                                <li>Каждая пломба на груз стоит 200тг</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('includes/footer') %>
    </body>

</html>