<!DOCTYPE html>
<html lang="en">

<%- include('includes/header') %>

    <style>
        h4 {
            font-weight: 700;
        }
    </style>

    <body class="js">

        <div id="preloader"></div>

        <section class="about-us">
            <%- include('includes/logo_menu') %>
        </section>

        <section class="about_top">
            <div class="container">
                <div class="row page-title">
                    <div class="col-md-5 col-sm-6">
                        <div class="pricing-desc section-padding-two">
                            <div class="pricing-desc-title">
                                <div class="title">
                                    <h2>Наши услуги</h2>
                                    <p>Услуги, предоставляемые нашей организацией.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="about_single_item">
                            <div class="item_icon">
                                <img src="/public/img/iconfinder_box_289621.png" alt="item">
                            </div>
                            <div class="about_single_item_content">
                                <h4>Упаковка груза</h4>
                                <p>Для обеспечения сохранности груза мы предлагаем различные виды дополнительной упаковки.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="about_single_item">
                            <div class="item_icon">
                                <img src="/public/img/service2.png" alt="item">
                            </div>
                            <div class="about_single_item_content">
                                <h4>Перевозка сборного груза</h4>
                                <p>Транспортировка в составе сборных грузов дает возможность Компании сокращать расходы на перевозку</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="about_single_item">
                            <div class="item_icon">
                                <img src="/public/img/service3.png" alt="item">
                            </div>
                            <div class="about_single_item_content">
                                <h4>Экспресс-Перевозка</h4>
                                <p>Услуга «Экспресс-Перевозка» позволяет пользователям сохранить самый ценный и дорогой ресурс – время.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="about_single_item">
                            <div class="item_icon">
                                <img src="/public/img/service4.png" alt="item">
                            </div>
                            <div class="about_single_item_content">
                                <h4>Full-Truck сервис</h4>
                                <p>Заказ транспорта «под ключ» - индивидуальный подход для перевозок на разовой и регулярной основе. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="about_single_item">
                            <div class="item_icon">
                                <img src="/public/img/service5.png" alt="item">
                            </div>
                            <div class="about_single_item_content">
                                <h4>Забор и доставка груза</h4>
                                <p>Авто ВАГ располагает всем необходимым для организации доставки груза на участке первой и последней мили.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="about_single_item">
                            <div class="item_icon">
                                <img src="/public/img/service6.png" alt="item">
                            </div>
                            <div class="about_single_item_content">
                                <h4>Переезды</h4>
                                <p>Для нас важен каждый клиент: и семья, решившая переехать в другой город, и огромная торговая сеть.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="about_single_item">
                            <div class="item_icon">
                                <img src="/public/img/service7.png" alt="item">
                            </div>
                            <div class="about_single_item_content">
                                <h4>Страхование груза</h4>
                                <p>Кроме услуги грузоперевозок, вы также можете заказать услугу страхования грузов.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="about_single_item">
                            <div class="item_icon">
                                <img src="/public/img/service8.png" alt="item">
                            </div>
                            <div class="about_single_item_content">
                                <h4>Возврат документов</h4>
                                <p>При заказе транспортно-экспедиторских услуг можно дополнительно воспользоваться услугой возврата документов</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="about_single_item">
                            <div class="item_icon">
                                <img src="/public/img/service9.png" alt="item">
                            </div>
                            <div class="about_single_item_content">
                                <h4>Копии документов</h4>
                                <p>По желанию клиента мы подготовим дубликат акта об оказанных услугах грузоперевозок, счет-фактуры или заверенную копию документа на выдачу груза.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('includes/footer') %>
    </body>

</html>